.storybook
e2e
node_modules
test_output
.dockerignore
.editorconfig
.git
.gitignore
.prettierrc.json
.vscode
docker-compose*
Dockerfile*
LICENSE
npm-debug.log
protractor.conf.js
README.md
dist
*.cmd
*.nswag
*.swp
